:root {
    --primary-color: #dddcd5; /* dddcd5 cream sand*/
    --secondary-color: #f3e8e8; /* warm sand */
    --accent1-color: #0c3b61; /* dark slate blue */
    --accent2-color: #2022c4; /* e9c46a light golden yellow */
    --heading-font: "Times New Roman", "Georgia", serif;
    --body-font: Arial, Helvetica, sans-serif;
    --shadow-clr: rgb(4, 13, 138);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


header {
    display: grid;
    grid-template-columns: 200px 1fr;
    align-items: center;
    margin: 1rem auto;
    max-width: 1000px;
    background-color: var(--primary-color);
    color: var(--accent2-color);
    padding: 10px;
}

.navigation {
    display: flex;
    list-style: none;
    justify-content: space-evenly;
    align-content: center;
}

.navigation a {
    font-family: var(--body-font);
    text-decoration: none;
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--accent1-color);
}

body {
    font-family: var(--body-font);
    color: var(--accent1-color);
}

header, main, footer {
    width: 840px;
    margin: 0 auto;
}

h1, h2 {
    font-family: var(--heading-font);
    color: var(--primary-color);
}

nav, p, section, article {
    margin: 1rem;
    padding: .5rem;
}

.history {
 display: grid;
 grid-template-columns: 1fr 200px 1fr;
 align-items: center;
}

.socialmedia img {
    height: 50px;
    width: auto;
}
.socialmedia a {
    text-decoration: none;
}

.hero {
    position: relative;
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
}

h1 {
    position: absolute;
    top: 20px;
    width: 100%;
    padding: 10px;
    text-align: center;
    opacity: 0.8;
    background-color: var(--accent1-color);
    color: #fff;
}

h2{ 
   background-color: var(--accent1-color); 
   width: 100%;
   padding: 10px;
   text-align: center;
}

.hero article {
    position: absolute;
    top: 300px;
    padding: 5px;
    text-align: left;
    opacity: 0.8;
    background-color: var(--accent1-color);
    color: #fff;
    font-size: 1rem;
    border-radius: 18px;

}

.hero article img {
float: right;
width: 80px;
margin: 10px;
border-radius:5px;   
box-shadow: 0px 0px 10px var(--shadow-clr) ;    
}

.adventure {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}

.adventure figcaption {
    margin: 1rem auto;
    text-align: center;
}

.adventure img {
    margin: 1rem auto;
    display: flex;
    justify-content: space-evenly;
    height: 100px;
    width: auto;
}

footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    margin-top: 1rem;
}
